<head>
    <title>Login | Buy Now</title>
  </head>
{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="p-4 m-4">
    <div class="col-lg-5 mt-4 mx-auto border rounded pt-4">
        <h3 style="text-align: center;">Login </h3><br>
      <form action="{% url 'login' %}" method="POST">
        
        {% csrf_token %}
        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          {{error}}
        </div>
        {% endif %}
        <div class="form-group">
          <input
            type="email"
            name="email"
            autocomplete="off"
            id=""
            value="{{value.email}}"
            class="form-control"
            placeholder="Email"
            aria-describedby="helpId"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id=""
            value="{{value.password}}"
            class="form-control"
            placeholder="Password"
            aria-describedby="helpId"
          />
        </div>
        <div class="form-group">
            <center><input type="submit" class="btn btn-outline-success px-4" value="Login"></center>
        </div>
        <center>Not a user? </center>
                <center><a class="card-link" href="{% url 'signup' %}">Sign Up</a></center>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
